---
type Props = {
  href: string
  name: string
  class?: string
}
const { href, name, class: className } = Astro.props
---

<a
  href={href}
  class:list={["flex items-start sm:items-center gap-2 underline", className]}
>
  <slot />
  {name}
</a>
