---
import Divider from "../ui/divider.astro"

type Props = {
  name: string
  class?: string
}

const { name, class: className } = Astro.props
---

<h1
  class:list={[
    "uppercase font-bold flex flex-col items-center leading-none w-[fit-content]",
    className
  ]}
>
  <div class="flex items-center w-full">
    <Divider />
    <span
      class="px-3 text-[35px] text-transparent bg-clip-text text-stroke-1
    tracking-widest"
    >
      Crafter
    </span>
    <Divider />
  </div>
  <p class="text-white text-6xl">{name}</p>
</h1>
