---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

console.log("ga")
---

<Layout title="Crafter Station">
	<main>
		<h1 class="text-6xl text-white font-bold">Welcome to <br/> Crafter Station </h1>
	</main>
</Layout>