---
import Layout from "../layouts/layout.astro"
import GlowLogo from "../components/ui/svg/icons/glow-logo.astro"
---

<Layout title="Crafter Station | Home">
  <main class="flex flex-col justify-center items-center h-screen gap-12">
    <h1
      class="text-white font-bold flex flex-col tracking-[14px] items-center leading-none"
    >
      <span class="text-[180px]">CRAFTER</span>
      <span class="relative text-[120px]">
        <span class="text-transparent text-stroke-3">STATION</span>
        <GlowLogo class="absolute top-[11px] right-[108px]" />
      </span>
    </h1>
    <p class="text-white text-4xl text-center">
      Creating Next-Gen Web Experiences.
    </p>
  </main>
</Layout>
