---
import Layout from "../layouts/layout.astro";

console.log("ga");
---

<Layout title="Crafter Station">
  <main class="flex flex-col justify-center items-center h-screen gap-12">
    <h1
      class="text-white font-bold flex flex-col tracking-[14px] items-center leading-none"
    >
      <span class="text-[180px]">CRAFTER</span>
      <span class="relative text-[120px]">
        <span class="text-transparent bg-clip-text text-stroke-3">STATION</span>
        <svg
          class="absolute p-5 top-[11px] right-[108px] border-4 border-[#F8BB2D] w-max rounded-full bg-black shadow-inner"
          width="93"
          height="98"
          viewBox="0 0 68 68"
          fill="none"
        >
          <path
            filter="url(#glow)"
            class="rounded-[0px]"
            d="M30.6433 7.57473C29.0693 6.47795 26.3803 5.18763 24.6095 4.6715C20.6088 3.44569 17.4513 4.13572 15.362 4.86505C11.2957 6.28441 8.73789 8.15538 6.44241 11.5747C2.83523 16.8651 3.3599 25.4458 7.75411 30.2845C8.73788 31.4458 9.26256 31.2522 13.0665 28.478C13.1977 28.349 12.673 27.5103 11.886 26.5425C10.1152 24.349 9.06581 20.349 9.59049 18.0909C11.2957 10.9941 20.0185 7.18764 25.6588 11.0586C26.905 11.8973 30.8401 15.3812 34.3817 18.8006C39.6941 23.8328 41.2681 24.9941 42.5798 24.8651C43.8915 24.7361 44.3506 24.2845 44.4818 22.8651C44.6785 21.3167 44.0883 20.4135 41.0713 17.7038C39.0382 15.8328 37.3986 14.1554 37.3986 13.8328C37.3986 13.5748 38.7759 12.478 40.4811 11.4457C51.4994 4.54247 63.3703 18.2844 54.1884 27.3167C53.0078 28.478 50.9091 29.7038 49.5318 30.0909C47.9578 30.478 40.6778 30.8006 31.6271 30.8006C14.7061 30.8006 13.7879 30.9942 9.32815 34.9297C3.62224 40.0264 2.31054 48.7362 6.31123 55.0588C11.4925 63.3168 22.6419 65.3814 30.5121 59.5104L33.3979 57.3168L36.7427 59.5104C42.1863 63.1233 46.5805 63.833 51.8929 62.091C62.5177 58.5426 66.4528 45.2523 59.5663 36.349C58.7793 35.3813 58.3858 35.3168 57.3365 35.8329C54.1228 37.6394 54.1884 37.5103 56.0903 41.3813C57.5332 44.349 57.7955 45.5103 57.4676 47.7684C56.5494 53.4459 52.2208 57.2523 46.7117 57.2523C42.4486 57.2523 41.0714 56.4136 33.2011 48.8652C29.0693 44.9942 25.2653 41.7684 24.7407 41.7684C23.7569 41.7684 21.6582 43.7684 21.6582 44.7361C21.6582 44.9942 23.4289 47.0587 25.6588 49.2523L29.6595 53.1878L27.2985 54.9942C18.9692 61.2523 7.09826 53.7684 9.85283 43.962C10.7054 40.9942 13.7224 37.7039 16.6081 36.6716C17.723 36.22 24.6095 35.9619 33.9226 35.9619C51.0403 35.9619 53.0734 35.6393 57.0085 32.2845C68.7483 22.478 61.9274 4.02633 46.5805 4.09085C42.1207 4.09085 39.6941 4.99408 35.5622 8.02635L33.4635 9.57474L30.6433 7.57473Z"
            fill="url(#paint0_linear_940_310)"></path>
          <defs>
            <linearGradient
              id="paint0_linear_940_310"
              x1="33.5"
              y1="4"
              x2="33.5"
              y2="224.741"
              gradientUnits="userSpaceOnUse"
            >
              <stop id="stop-1" offset="0.0515338" stop-color="#F8BB2D"></stop>
              <stop id="stop-2" offset="1" stop-color="#F8BB2D" stop-opacity="0"
              ></stop>
            </linearGradient>
          </defs>
        </svg>
      </span>
    </h1>
    <p class="text-white text-4xl text-center">
      Creating Next-Gen Web Experiences.
    </p>
  </main>
</Layout>

<style>
  svg {
    box-shadow:
      inset 0 0 35px 10px rgba(248, 187, 45, 0.5),
      0 0 5px #f8bb2d,
      0 0 25px 8px rgba(248, 187, 45, 0.5);
  }
</style>
