---
import Title from "../components/shared/title.astro"
import Layout from "../layouts/layout.astro"
import PlaceholderCard from "../components/shared/placeholder-card.astro"
import LightbulbIcon from "../components/ui/svg/icons/lightbulb-icon.astro"
---

<Layout title="Crafter Station | Products">
  <main class="flex justify-center items-center h-full pt-10">
    <article
      class="flex flex-col justify-center items-center gap-10 h-full w-[960px]"
    >
      <section class="flex flex-col gap-6">
        <Title name="Products" />
        <p class="text-xl text-white text-justify px-6">
          No Products Yet? That's because we're busy building something
          incredible for you. We're all about creating bespoke solutions
          designed to meet your specific needs. Eager to see your project listed
          here? Let's start crafting your success story today!
        </p>
      </section>
      <section class="relative grid grid-cols-2 gap-6 w-full">
        {
          Array.from({ length: 4 }).map((_, i) => (
            <PlaceholderCard>
              <LightbulbIcon index={i} />
            </PlaceholderCard>
          ))
        }
      </section>
    </article>
  </main>
</Layout>
