---
import TextArea from "./ui/text-area.astro"
import Input from "./ui/input.astro"
---

<section className="w-full flex flex-col items-center">
  <div className="w-[960px] text-white flex flex-col gap-8">
    <h1 className="text-5xl font-bold">Contact us</h1>
    <p className="text-xl">
      Let's Talk About Your Next Big Idea! We love discussing potential projects
      and seek for new learning opportunities. Complete the form below or send
      us an email at stardust@crafterstation.com. Alternatively, schedule a
      Cal.com appointment with us right now!
    </p>
    <form className="flex flex-col gap-6">
      <TextArea class="bg-white/5" placeholder="Go ahead, how can we help?" />
      <div className="grid grid-cols-2 gap-x-6">
        <Input class="bg-white/5" placeholder="Your name and company" />
        <Input class="bg-white/5" placeholder="Email" />
      </div>
    </form>
  </div>
</section>
