---
import Button from "./ui/button.astro"
import Input from "./ui/input.astro"
---

<div class="flex flex-col bg-white/5 text-white py-10 rounded-lg px-20 gap-6">
  <div class="flex flex-col gap-1">
    <h1 class="font-bold text-lg">Join our email newsletter</h1>
    <p class="text-sm">
      Get our latest posts straight to your inbox. Unsubscribe anytime
    </p>
  </div>
  <div class="flex justify-between gap-8">
    <Input placeholder="Your email" type="text" class="w-full" />
    <Button class="w-[40%]" disabled>
      <span>Susbcribe</span>
    </Button>
  </div>
</div>
