---
import Divider from "./ui/divider.astro"
import Puzzle from "./ui/svg/puzzle.astro"

interface Props {
  title: string
  body: string
  type: "large" | "small"
}

const { title, body, type } = Astro.props
const isLarge = type === "large"
---

<section
  className="flex p-[1px] rounded-[20px] border border-white overflow-hidden relative w-full sm:min-h-[200px]"
>
  <article className="p-[calc(1.5rem-1px)] rounded-lg text-white">
    <h1 className="font-bold text-2xl">{title}</h1>
    <Divider class="my-2" />
    <div className="flex items-center w-full h-full">
      <p
        class:list={[
          "text-white text-xl text-justify self-start mt-5 w-full",
          { "sm:w-2/3": isLarge },
        ]}
      >
        {body}
      </p>
      {
        isLarge && (
          <Puzzle class="mt-5 absolute -right-24 transform scale-75 hidden sm:block" />
        )
      }
    </div>
  </article>
</section>
