---
import Head from "@/components/molecules/head.astro"
import Header from "@/components/organisms/header.astro"
import Footer from "@/components/organisms/footer.astro"
import type { Metadata } from "@/lib/metadata.ts"

interface Props {
  metadata: Metadata
}

const { metadata } = Astro.props
---

<html lang={Astro.currentLocale}>
  <Head metadata={metadata} />
  <body class="min-h-screen font-sans antialiased bg-[#131313] text-white">
    <Header />
    <main
      class="flex flex-col items-center gap-8 lg:gap-16 2xl:max-w-[1440px] mx-auto"
    >
      <slot />
    </main>
    <Footer />
    <style is:global>
      .animated-yellow-gradient {
        @apply text-transparent bg-clip-text bg-gradient-to-r;
        @apply from-yellow-400 to-rose-600;
        background-size: 200% 100%;
        animation: continuous-gradient 4s ease infinite;
      }
    </style>
  </body>
</html>
