---
import Head from "@/components/molecules/head.astro"
import type { Metadata } from "@/lib/metadata.ts"

interface Props {
  metadata: Metadata
}

const { metadata } = Astro.props
---

<html lang={Astro.currentLocale}>
  <Head metadata={metadata} />
  <body class="min-h-screen">
    <div class="flex space-between h-auto">
      <slot />
    </div>
    <style is:global></style>
  </body>
</html>
